@import "./styles/global";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  min-height: 100%;
  text-transform: lowercase;
  color: #8f8f8f;
  background: #f9f9f9;
}

.morse-root {
  background: #f9f9f9;
  width: 100%;
  height: 100%;
  color: #8f8f8f;
}

.spinner-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.site-layout-background {
  background: #fff !important;
}
